<!DOCTYPE html>
<!-- listen to the white dot -->
<html>
    <head>
        <link href='http://fonts.googleapis.com/css?family=PT+Mono' rel='stylesheet' type='text/css'>
        <meta name='viewport' content='width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1'>
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
        <link href="{{ STATIC_URL }}assets/icon-144x144.png" sizes="144x144" rel="apple-touch-icon">
        <link href="{{ STATIC_URL }}assets/splash-1024x1024.png" rel="apple-touch-startup-image">
        <link rel='shortcut icon' href='{{ STATIC_URL }}assets/favicon.png?v={{ version }}' type='image/x-icon'> 

        <title>#{{ room_name }}</title>
        <link rel='stylesheet' href='{{ STATIC_URL }}styles/teaorbit.css?v={{ version }}' type='text/css'>
        {% if client == 'iPhoneTeaOrbit' %}
            <link rel='stylesheet' href='{{ STATIC_URL }}styles/teaorbit_ios_native.css?v={{ version }}' type='text/css'>
        {% end %}
        <link rel='stylesheet' href='{{ STATIC_URL }}styles/icons.css?v={{ version }}' type='text/css'> 
        <script type='text/javascript' src='{{ STATIC_URL }}scripts/libs/scrollfix.js?v={{ version }}'></script>
        <script type='text/javascript' src='{{ STATIC_URL }}scripts/libs/jquery.teaorbit.min.js?v={{ version }}'></script>
        <script type='text/javascript' src='{{ STATIC_URL }}scripts/libs/jquery.cookie.js?v={{ version }}'></script>
        <script type='text/javascript' src='{{ STATIC_URL }}scripts/libs/jquery.linkify.min.js?v={{ version }}'></script>
        <script type='text/javascript' src='{{ STATIC_URL }}scripts/libs/jquery.timeago.min.js?v={{ version }}'></script>
        <script type='text/javascript' src='{{ STATIC_URL }}scripts/libs/jquery.autosize.min.js?v={{ version }}'></script>
        <script type='text/javascript' src='{{ STATIC_URL }}scripts/libs/modernizr.min.js?v={{ version }}'></script>
        <script type='text/javascript' src='{{ STATIC_URL }}scripts/libs/sockjs.min.js?v={{ version }}'></script>
        <script type='text/javascript' src='{{ STATIC_URL }}scripts/basics.js?v={{ version }}'></script>
        <script type='text/javascript' src='{{ STATIC_URL }}scripts/ui.js?v={{ version }}'></script>
        <script type='text/javascript' src='{{ STATIC_URL }}scripts/network.js?v={{ version }}'></script>
        <script type='text/javascript' src='{{ STATIC_URL }}scripts/draw.js?v={{ version }}'></script>
        <script type='text/javascript'>
            window.static_url = '{{ STATIC_URL }}';

            window.networking = null;
            window.ui = null;

            window.last_spiel_date = 0;
            window.latitude = null;
            window.longitude = null;
            window.gps_accuracy = null;

            {% if room_name %}
                window.chatroom = '{{ room_name }}';
                window.title = "#" + window.chatroom;
                document.title = window.title;
            {% else %}
                window.chatroom = '';
            {% end %}


            window.dragging = false;
            window.mousedown_coordinates = null;

            $(document).ready(function(){
                $(window).bind('touchmove', function(e){
                    e.preventDefault();
                });
                $("#chat").bind('touchmove', function(e){
                    e.stopPropagation();
                });

                if($.browser.mobile == false) {
                    $('#type-here').focus();
                    $('body').on('click', function(e){
                        if(!$(e.target).is('input') && !$(e.target).is('textarea') && !window.dragging) {
                            $('#type-here').focus();
                        }
                        window.dragging = false;
                    });
                    $('body').on('mousedown', function(e){
                        window.dragging = true;
                        window.mousedown_coordinates = { x: e.pageX, y: e.pageY };
                    });
                    $('body').on('mouseup', function(e){
                        if(pixel_distance(e.pageX, e.pageY, window.mousedown_coordinates.x, window.mousedown_coordinates.y) < 10) {
                            window.dragging = false;
                        }
                    });
                } else {
                    $('#type-here, #name').focus(function(e){
                        window.ui.scroll();
                    });
                }
                if(window.navigator.standalone) {
                    $('#header').css('padding-top', '24px');

                    $('body').on('click', 'a', function(e){
                        var hostname = $(this)[0].hostname
                        console.log(hostname);
                        if($.inArray(hostname, ['teaorbit.com', 'www.teaorbit.com', 'safinaz.local']) != -1) {
                            e.preventDefault();
                            document.location = $(this).attr('href');
                        }
                    });
                }
                window.ui = new UI();
                {% if client == 'iPhoneTeaOrbit' %}
                    window.ui.init_ios_native_features();
                {% else %}
                    window.ui.init_web_only_features();
                {% end %}
                window.ui.init();
                new ScrollFix($('#chat')[0]);
            });

        </script>
    </head>
    <body>
        <div id='container'>
            <div id='header'>
                <a id='show-channels' href='#' class='button'>#{{ room_name }}</a>
                <div class='info' id='num-online'>? online</div>
                <!--<div id='toggle-map'><span class='icon-location'></span></div>-->
                <span id='audio'></span>
                <h1 id='logo'><a href='/'><img src='{{ STATIC_URL }}assets/tea-white.png' /><span>tea orbit</span></a></h1>
            </div>
            <div id='chat'>
                <a href='#' class='load-more' id='load-more'>see older messages</a>
                <div class='inner'>
                </div>
            </div>
            <div id='post'>
                <div class='inner'>
                    <form action='/post'>
                        <span class='color' id='my-color'></span>
                        <input type='text' name='name' id='name' placeholder='Name (optional)' />
                        <input type='hidden' name='latitude' value='0' />
                        <input type='hidden' name='longitude' value='0' />
                        <input type='hidden' name='last_id' value='0' />
                        <input type='hidden' name='session' value='' />
                        <input type='hidden' name='chatroom' value='' />
                        <textarea name='spiel' id='type-here' placeholder='Type your message'></textarea>
                        <button type='submit' class='submit' id='submit' />Submit</button>
                    </form>
                    <!--<canvas id='drawing' width="500" height="300"></canvas>-->
                </div>
            </div>
        </div>
        <div id='loader'>
            <div class='loader-icon'>
                <div class='inner'>
                    <div class='logo'>
                    </div>
                    <div class='title'>
                        Getting location...
                    </div>
                    <div class='details'>
                        The front page needs your location<br/>to show you messages from people nearby.
                    </div>
                </div>
            </div>
        </div>
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-46162095-1', 'teaorbit.com');
            ga('send', 'pageview');

        </script>
        <div id='channels'>
            <div class='section new'>
                <h3>new</h3>
                <label><span class='new-channel'>#<span contenteditable='true' class='edit'><span/></span></label>
            </div>
            <div class='section new'>
                <h3>nearby</h3>
                <div id='nearby-channels'>
                </div>
            </div>
            <div class='section recent'>
                <h3>recent</h3>
                <div id='recent-channels'>
                </div>
            </div>
            <div class='section suggested'>
                <h3>suggested</h3>
                <div id='suggested-channels'>
                    <div class='channel'>
                        <a href='/about'>#about</a>
                    </div>
                    <div class='channel'>
                        <a href='/faq'>#faq</a>
                    </div>
                    <div class='channel'>
                        <a href='/contact'>#contact</a>
                    </div>
                    <div class='channel'>
                        <a href='/press'>#press</a>
                    </div>
                </div>
            </div>
        </div>
        <div id='choose-color'>
            go to <a href="" class='login-url'></a> to keep this color
            <p class='faint'>or clear your cache if you want a new one</p>
        </div>
    </body>
</html>
